body {
  color: rgb(0, 0, 0);
  margin: 0 auto;
  padding: 20px;
}

#movieList {
  margin-top: 20px;
}

#paymentDetails {
  margin-top: 20px;
}

.movieImage {
  height: 200px;
  border-radius: 10px;
}

.movieItem {
  margin-top: 20px;
}

.movieItemDescription {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 150px;
  display: block;
}

.movieItemFlex {
  gap: 25px !important;
}
.orderBtns {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .movieItemFlex {
    flex-direction: column;
  }
  .movieItemTextContent .flex {
    align-items: flex-start;
  }
  .orderBtns {
    flex-direction: column;
  }
}
